<section class="section">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for o in objs %}
                <tr>
                    <td>{{ o.id }}</td>
                    <td><a href="{% url 'read' o.id %}">{{ o.first_name }}</a></td>
                    <td>{{ o.last_name }}</td>
                    <td>{{ o.address }}</td>
                    <td>{{ o.balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>