<section class="section">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% if accounts %}
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.first_name }}</td>
                    <td>{{ account.last_name }}</td>
                    <td>{{ account.address }}</td>
                    <td>{{ account.balance }}</td>
                    <td>
                        <a class="button is-dark is-fullwidth m-2" href="{% url 'edit_view' account.id %}" style="color:white">Edit<i class="fas fa-pen"></i>
                        </a>
                        <a class="button is-danger is-fullwidth m-2" href="{% url 'delete_view' account.id %}">Delete<i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
            <h2 class="subtitle">There is no data to be shown. Create an account from the panel above.</h2>
            {% endif%}
        </tbody>
    </table>
</section>