{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<a class="button is-link mx-5" href="{% url 'dashboard_view' %}"><i class="fa-solid fa-arrow-left"></i>Go back to dashboard</a>

<section class="section">
  <div class="container">
    <div class="box" style="max-width: 400px; margin: auto;">
      <h1 class="title is-4 has-text-centered">Create an account</h1>

      <form method="POST" action="">
        {% csrf_token %}

        <!-- First Name -->
        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input class="input" name="first_name" id="id_first_name" type="text" placeholder="Enter your first name" required>
          </div>
        </div>

        <!-- Last Name -->
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input class="input" name="last_name" id="id_last_name"  type="text" placeholder="Enter your last name" required>
          </div>
        </div>

        <!-- Address -->
        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <input class="input" name="address" id="id_address" type="text" placeholder="Enter your address" required>
          </div>
        </div>

        <!-- Balance -->
        <div class="field">
          <label class="label">Balance</label>
          <div class="control">
            <input class="input" name="balance" id="id_balance" type="number" placeholder="Enter your balance" required>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="field">
          <div class="control">
            <button class="button is-success is-fullwidth">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% else %}

{% include 'utils/login_required.html' %}

{% endif %}
{% endblock%}