{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<section class="section">
  <div class="container">
    <div class="box" style="max-width: 400px; margin: auto;">
      <h1 class="title is-4 has-text-centered">Create an account</h1>

      <form method="POST" action="">
        {% csrf_token %}

        <!-- First Name -->
        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input value="{{ account.first_name }}" class="input" name="from_id" id="id_from_id" type="text" placeholder="Enter your account name" required>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="field">
          <div class="control">
            <button class="button is-success is-fullwidth">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% else %}

{% include 'utils/login_required.html' %}

{% endif %}
{% endblock%}