{% extends 'base.html' %}

{% block content %}

<a class="button is-link mx-5" href="{% url 'dashboard_view' %}"><i class="fa-solid fa-arrow-left"></i>Go back to dashboard</a>

<section class="section">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>Time</th>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Amount</th>
                <th>New Balance</th>
            </tr>
        </thead>
        <tbody>
            {% if transaction_log %}
                {% for transaction in transaction_log %}
                    <tr>
                        <td>{{ transaction.timestamp }}</td>
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.account }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.new_balance }}</td>
                    </tr>
                {% endfor %}
            {% else %}
            <h2 class="subtitle">There is no data to be shown. Create transactions from the previous screen.</h2>
            {% endif%}
        </tbody>
    </table>
</section>
{% endblock %}
