{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<section class="section">
    <div class="container">
        <div class="box" style="max-width: 400px; margin: auto;">
            <h1 class="title is-4 has-text-centered">Withdraw</h1>
            <form action="" method="POST">
                {% csrf_token %}
                
                {{ form }}

                <!-- Submit Button -->
                <div class="field">
                    <div class="control">
                        <button class="button is-success is-fullwidth">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% else %}

{% include 'utils/login_required.html' %}

{% endif %}
{% endblock%}