<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dorset Bank App</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

i {
  margin-inline:.25rem;
}

</style>
<body>

  <div class="container">
    {% include 'nav/nav.html' %}

    {% if messages %}
      {% for message in messages %}

        <article {% if message.tags %} style="width:max-content; margin-inline:auto;" class="message is-{{message.tags}}" {% endif %}>
          <div class="message-header">
            <p>{{ message }}</p>
          </div>
        </article>
      {% endfor %}
    {% endif %}


    {% block content %}
    {% endblock %}

  </div>
</body>
</html>