{% extends 'base.html' %}

{% block content %}
<section class="grid is-gap-3">
    <p class="cell"><a class="button is-success" href="">Create Account<i class="fas fa-plus"></i></a></p>
    <p class="cell"><a class="button is-danger" href="">Delete Account<i class="fas fa-trash"></i></a></p>
    <p class="cell"><a class="button is-info" href="">Edit Account<i class="fas fa-pen"></i></a></p>
    <p class="cell"><a class="button is-warning" href="">Transfer Funds<i class="fas fa-arrows-alt-h"></i></a></p>
    <p class="cell"><a class="button is-warning" href="">Withdraw Funds<i class="fas fa-angle-double-down"></i></a></p>
    <p class="cell"><a class="button is-success" href="">Deposit Funds<i class="fas fa-angle-double-up"></i></a></p>
    <p class="cell"><a class="button is-info" href="">View Transactions<i class="fas fa-chart-line"></i></a></p>
    <p class="cell is-col-start-1"><a class="button is-danger" href="{% url 'login' %}">Exit<i class="fas fa-sign-out-alt"></i></a></p>
</section>
{% include 'display/display.html' %}

{% endblock %}