{% extends 'base.html' %}

{% block content %}
<section class="grid is-gap-3 px-4">
    <p class="cell"><a class="button is-success">Create Account<i class="fas fa-plus"></i></a></p>
    <p class="cell"><a class="button is-danger">Delete Account<i class="fas fa-trash"></i></a></p>
    <p class="cell"><a class="button is-info">Edit Account<i class="fas fa-pen"></i></a></p>
    <p class="cell"><a class="button is-warning">Transfer Funds<i class="fas fa-arrows-alt-h"></i></a></p>
    <p class="cell"><a class="button is-warning">Withdraw Funds<i class="fas fa-angle-double-down"></i></a></p>
    <p class="cell"><a class="button is-success">Deposit Funds<i class="fas fa-angle-double-up"></i></a></p>
    <p class="cell"><a class="button is-info">View Transactions<i class="fas fa-chart-line"></i></a></p>
    {% if request.user.is_authenticated %}
    <p class="cell is-col-start-1"><a class="button is-danger" href="{% url 'logout' %}">Exit<i class="fas fa-sign-out-alt"></i></a></p>
    {% endif %}
</section>
{% include 'display/display.html' %}

{% endblock %}